{{>/layout/header}}

<style>
	.ck.ck-editor {
    	max-width: 100vw;

	}
	.ck-editor__editable {
		min-width: 100vw;
	    min-height: 100vh;
	}
</style>

<input type="hidden" id="id" value="{{dto.id}}">
<div class="flex justify-center">
    <select style="width:500px" id="category"
            class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
        {{#categories}}
            <option>{{name}}</option>
        {{/categories}}
    </select>
</div>
<div class="flex py-8  justify-center">
    <input style="width:500px" type="text" value="{{dto.title}}" id="title" i
           class="block px-8 py-4 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-gray-500 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
           placeholder="제목을 입력하세요" required/>
</div>

<div class="flex justify-center">
		<textarea name="content" id="content">
            {{{dto.content}}}
		</textarea>
    <br/>
</div>
<button id="btn-post-update" type="button"
        class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
    수정
</button>

<script>
        ClassicEditor
            .create( document.querySelector( '#content' ), {

            })
            .then(editor => {
                editor.model.document.on('change:data', () => {
                    document.querySelector( '#content' ).value = editor.getData();
                })
            })
            .catch( error => {
                console.error( error );
            } );
</script>

<script src="/js/blog.js"></script>
<script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
</body>
</html>