{{>/layout/header}}

<section class="bg-white dark:bg-gray-900">
    <div class="bg-white py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        <span class="py-4 self-center text-5xl font-semibold whitespace-nowrap dark:text-white">Blog</span>
        <span style="line-height:1000%"><br></span>
        <button>
            <a href="/oauth2/authorization/google">
            <img src="/images/google/btn_google_signin_dark_normal_web@2x.png">
            </a>
        </button>
        <br>
        <button>
            <a href="/oauth2/authorization/kakao">
            <img src="/images/kakao/kakao_login_large_narrow.png">
            </a>
        </button>
        <br>
        <button>
            <a href="/oauth2/authorization/naver">
            <img src="/images/naver/btnG_big.png">
            </a>
        </button>
    </div>
</section>

<script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
</body>
</html>