{{>/layout/header}}

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">카테고리
                관리</h2>
            <a href="/categories/creating">
            <button type="button"
                    class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                추가 <span style="vertical-align: middle; font-size:18px;" class="material-icons">add_circle</span>
            </button>
            </a>
        </div>
        {{#categories}}
            <div class="flex justify-center">
                <div class="p-6 w-96 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex justify-between items-center 5 text-gray-500">
                  <span class="bg-primary-100 text-primary-800 text-xm font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                      {{topic.title}}
                  </span>
                    </div>
                    <h2 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">
                            {{name}}
                        </a>
                    </h2>
                    <div class="flex justify-end items-center">
                        <a href="/categories/edit/{{id}}">
                        <button type="button"
                                class="text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:focus:ring-yellow-900">
                            수정 <span style="vertical-align: middle; font-size:18px;" class="material-icons">edit</span>
                        </button>
                        </a>
                        <input type="hidden" id="id" value="{{id}}">
                        <button id="btn-category-delete" type="button"
                                class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                            삭제 <span style="vertical-align: middle; font-size:18px;"
                                     class="material-icons">delete</span>
                        </button>

                    </div>
                </div>
            </div>
        {{/categories}}
    </div>
</section>
<script src="/js/blog.js"></script>
<script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
</body>
</html>